{% extends "registration/base.html" %}

{% block htitle %}ICISTS-KAIST 2015 Application Form{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<h1>ICISTS-KAIST 2015 Application Form</h1>
<form class="form-horizontal" action="/registration/form/" method="post" enctype="multipart/form-data">
    <fieldset>
        {% csrf_token %}


        <div class="form-group">
            <label class="col-sm-3 control-label">Group Name</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="group_name" placeholder="junwoo_and_friends" maxlength="100" value="{{application.group_name}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-12 control-label">
            If you are applying as a group, please specify the name of your group here. <br> If not, leave it as blank.<br> <br> <br> <br> 
            </label>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Project Topic</label>
            <div class="col-sm-9">
                <select class="form-control" name="project_topic" required="required">
                <option>1. Robotics </option>
                <option>2. Medicine </option>
                <option>3. Science Communication </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-12 control-label">
            <br>
            <br>
            <br>
1. Essay Question!
            <br>
2. Essay Question!
            <br>
3. Essay Question!
            </label>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Essay Topic</label>
            <div class="col-sm-9">
                <select class="form-control" name="essay_topic" required="required">
                <option>1. Robotics</option>
                <option>2. Medicine</option>
                <option>3. Science Communication </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-12 control-label">
            Your essay topic does not necessarily have to match with your project topic.
            </label>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Essay</label>
            <div class="col-sm-9">
                <textarea class="form-control" id='essay_textarea' rows="40" name="essay_text" placeholder="Your eligibility for participation will be determined based on this essay. Write your essay here. " required="required" maxlength="2000" resize=False >{{application.essay_text}}</textarea>
            </div>
            <div id="result" class="col-sm-12 control-label">
                Words used : <span id='word_count'>0</span><br/>
                Total Characters : <span id='total_chars'>0</span><br/>
            </div>

        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Visa Supporting Letter Required</label>
            <div class="col-sm-3">
                <label class="radio-inline">
                    <input type="radio" id="visa-options" name="visa_letter_required" value="yes">Yes
                </label>
                <label class="radio-inline">
                    <input type="radio" id="visa-options" name="visa_letter_required" value="no" checked="checked">No
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Applying for Financial Aid</label>
            <div class="col-sm-3">
                <label class="radio-inline">
                    <input type="radio" id="f_aid-options" name="financial_aid" value="yes">Yes
                </label>
                <label class="radio-inline">
                    <input type="radio" id="f_aid-options" name="financial_aid" value="no" checked="checked">No
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Previous Participation in ICISTS-KAIST</label>
            <div class="col-sm-3">
                <label class="radio-inline">
                    <input type="radio" id="f_aid-options" name="previously_participated" value="yes">Yes
                </label>
                <label class="radio-inline">
                    <input type="radio" id="f_aid-options" name="previously_participated" value="no" checked="checked">No
                </label>
            </div>
        </div>

        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#financial_aid_supplement" aria-expanded="false" aria-controls="financial_aid_supplement">
            Financial Aid Supplement
        </button>
        <div class="collapse" id="financial_aid_supplement">
            <div class="well">
                <p>ICISTS-KAIST Financial Aid Program encourages those who currently do not reside in, or are non-permanent residents of the Republic of Korea, to participate in ICISTS-KAIST. ICISTS will be selecting a maximum of 50 applicants to be recipients of the financial aid program. The financial aid package includes a 50% discount of the application fee and free hotel accommodations.<br/> Application period for Financial Aid program is from May 5th to July 11th, within one week after your acceptance for ICISTS-KAIST has been announced. The applicants will be notified of the results via email. </p> 


                <div class="form-group">
                    <label class="col-sm-3 control-label">Full Address of Residence</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="address" placeholder="33 Rochester Drive, #35-06 The Rochester, Singapore" maxlength="300" value="{{user.address}}">
                    </div>
                </div>

                
            <div class="form-group">
                <label class="col-sm-12 control-label">1.   Why do you wish to participate in ICISTS-KAIST, and what ways would you be able to contribute to our conference? (within 1000 words)</label>
                <div class="col-sm-9">
                    <textarea class="form-control" id='financial_aid_q1' rows="20" name="financial_aid_q1" placeholder="Write here." maxlength="2000" resize=False >{{survey.q1}}</textarea>
                </div>
                <div id="result" class="col-sm-12 control-label">
                    Words used : <span id='word_count'>0</span><br/>
                    Total Characters : <span id='total_chars'>0</span><br/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-12 control-label">2.    Explain any special circumstances that need to be considered for your qualification of financial aid. (within 500 words)</label>
                <div class="col-sm-9">
                    <textarea class="form-control" id='financial_aid_q2' rows="20" name="financial_aid_q2" placeholder="Write here." maxlength="2000" resize=False >{{survey.q2}}</textarea>
                </div>
                <div id="result" class="col-sm-12 control-label">
                    Words used : <span id='word_count'>0</span><br/>
                    Total Characters : <span id='total_chars'>0</span><br/>
                </div>
            </div>





            </div>
        </div>
        <br/>
        <br/>


        <div class="form-group">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary">Save</button>
                <a class="btn btn-warning" href="/registration/">Back</a>
            </div>
        </div>
    </fieldset>
</form>
<script type="text/javascript">
counter = function() {
    var value = $('#essay_textarea').val();

    if (value.length == 0) {
        $('#word_count').html(0);
        $('#total_chars').html(0);
        return;
    }

    var regex = /\s+/gi;
    var word_count = value.trim().replace(regex, ' ').split(' ').length;
    var total_chars = value.length;

    $('#word_count').html(word_count);
    $('#total_chars').html(total_chars);
};

$(document).ready(function() {
    $('#essay_textarea').change(counter);
    $('#essay_textarea').keydown(counter);
    $('#essay_textarea').keypress(counter);
    $('#essay_textarea').keyup(counter);
    $('#essay_textarea').blur(counter);
    $('#essay_textarea').focus(counter);
});
</script>
{% endblock %}
