{% extends "registration/base.html" %}

{% block htitle %}ICISTS-KAIST 2015 Application Form{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<h1>ICISTS-KAIST 2015 Application Form</h1>
<form class="form-horizontal" action="/registration/form/" method="post" enctype="multipart/form-data">
    <fieldset>
        {% csrf_token %}


        <div class="form-group">
            <label class="col-sm-3 control-label">Group Name</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="group_name" placeholder="junwoo_and_friends" maxlength="100" value="{{application.group_name}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-12 control-label">
            If you are applying as a group, please specify the name of your group here. <br> If not, leave it as blank.<br> <br> <br> <br> 
            </label>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Project Topic</label>
            <div class="col-sm-9">
                <select class="form-control" name="project_topic" required="required">
                <option>1. Robotics </option>
                <option>2. Medicine </option>
                <option>3. Science Communication </option>
                </select>
                <p class="help-block">Please choose a topic you want to participate in throughout the whole conference. Your team project group will be determined based on this choice. </p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
            </label>
            <label class="col-sm-9 control-label" id='essay_questions'>
                Topic 1: Robotics
                In Isaac Asimov's novel &lt;The Bicentennial Man&gt;, an android with special skills starts his 'life' as a housekeeper. Thanks to his special intellectual qualities, he has the passion to become a human. Although he changes his external form to human skin, has intellect that closely resembles that of a human being's, and even implants human blood into his body, he is not accepted as a human by the World Court. If you were in the main character's shoes, why do you think you are not currently accepted by human society? What criteria should you, as an android, satisfy to think that you are worthy of earning basic human rights from society?
                <hr>
                Topic 2: Medicine
                Personalized medicine utilizes DNA sequencing to create medicine that is engineered individually, and therefore can show greater efficiency. However, contrary to high prior expectations, this method of medical treatment has not been too popular among patients and doctors.
                Some barriers preventing the widespread use of personalized medicine include:
                <ol>
                    <li>Ownership over sequenced DNA</li>
                    <li>Expensive DNA sequencing</li>
                    <li>Diseases unrelated to genetics</li>
                </ol>
                Choose one of the following (or use an exmple of your own) and write, in 500 words, about the ways in which these problems can be solved.
                <hr>
                Topic 3: Science Communication
                To quote Einstein, "Everything should be made as simple as possible, but not simpler." The quote is suggesting that although science should be kept as simple, there lies danger in oversimplifying the context of science. What are the dangers of scientists oversimplifying science when communicating their discoveries to the public?
            </label>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Essay Topic</label>
            <div class="col-sm-9">
                <select class="form-control" name="essay_topic" required="required">
                <option>1. Robotics</option>
                <option>2. Medicine</option>
                <option>3. Science Communication </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-12 control-label">
            Your essay topic does not necessarily have to match with your project topic.
            </label>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Essay</label>
            <div class="col-sm-9">
                <textarea class="form-control" id='essay_textarea' rows="40" name="essay_text" placeholder="Your eligibility for participation will be determined based on this essay. Write your essay here. " required="required" maxlength="2000" style="resize:none" >{{application.essay_text}}</textarea>
            </div>
            <div id="result" class="col-sm-12 control-label">
                Words used : <span id='word_count'>0</span><br/>
                Total Characters : <span id='total_chars'>0</span><br/>
            </div>

        </div>

        <div class="form-group">
            <label class="col-sm-9 control-label">Visa Supporting Letter Required
                <p class="help-block">Are you from a country that requires visa to stay in Korea?</p>
            </label>
            <div class="col-sm-3">
                <label class="radio-inline">
                    <input type="radio" id="visa-options" name="visa_letter_required" value="yes">Yes
                </label>
                <label class="radio-inline">
                    <input type="radio" id="visa-options" name="visa_letter_required" value="no" checked="checked">No
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-9 control-label">Applying for Financial Aid
                <p class="help-block">Are you applying for financial aid?</p>
            </label>
            <div class="col-sm-3">
                <label class="radio-inline">
                    <input type="radio" id="f_aid-options" name="financial_aid" value="yes">Yes
                </label>
                <label class="radio-inline">
                    <input type="radio" id="f_aid-options" name="financial_aid" value="no" checked="checked">No
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-9 control-label">Previous Participation in ICISTS-KAIST
                <p class="help-block">Have you participated in ICISTS-KAIST before?</p>
            </label>
            <div class="col-sm-3">
                <label class="radio-inline">
                    <input type="radio" id="f_aid-options" name="previously_participated" value="yes">Yes
                </label>
                <label class="radio-inline">
                    <input type="radio" id="f_aid-options" name="previously_participated" value="no" checked="checked">No
                </label>
            </div>
        </div>
        <br/>
        <br/>


        <div class="form-group">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary">Save</button>
                <a class="btn btn-warning" href="/registration/">Back</a>
            </div>
        </div>
    </fieldset>
</form>
<script type="text/javascript">
counter = function() {
    var value = $('#essay_textarea').val();

    if (value.length == 0) {
        $('#word_count').html(0);
        $('#total_chars').html(0);
        return;
    }

    var regex = /\s+/gi;
    var word_count = value.trim().replace(regex, ' ').split(' ').length;
    var total_chars = value.length;

    $('#word_count').html(word_count);
    $('#total_chars').html(total_chars);
};

$(document).ready(function() {
    $('#essay_textarea').change(counter);
    $('#essay_textarea').keydown(counter);
    $('#essay_textarea').keypress(counter);
    $('#essay_textarea').keyup(counter);
    $('#essay_textarea').blur(counter);
    $('#essay_textarea').focus(counter);
});
</script>
{% endblock %}
