{% extends "registration/base.html" %}

{% block htitle %}ICISTS-KAIST 2015 Application Form{% endblock %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/registration.css">
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
{% endblock %}

{% block content %}
<h1>ICISTS-KAIST 2015 Application Form</h1>
<form class="form-horizontal" action="/registration/form/" method="post" enctype="multipart/form-data">
    <fieldset>
        {% csrf_token %}
        <p> please specify the name of the group if you are applying as a group.</p> 
        <div class="form-group">
            <label class="col-sm-3 control-label">Group Name</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="group_name" placeholder="junwoo_and_friends" required="required" maxlength="100">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Project Topic</label>
            <div class="col-sm-9">
                <select class="form-control" name="project_topic" required="required">
                <option>1. Robotics </option>
                <option>2. Personalised Medicine </option>
                <option>3. Science Communication </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Essay Topic</label>
            <div class="col-sm-9">
                <select class="form-control" name="essay_topic" required="required">
                <option>1. </option>
                <option>2. </option>
                <option>3. </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Essay</label>
            <div class="col-sm-9">
                <textarea class="form-control" rows="40" name="essay_text" placeholder="write your essay here" required="required" maxlength="2000"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Visa Supporting Letter Required</label>
            <div class="col-sm-3">
                <label class="radio-inline">
                    <input type="radio" id="visa-options" name="visa_letter_required" value="yes">Yes
                </label>
                <label class="radio-inline">
                    <input type="radio" id="visa-options" name="visa_letter_required" value="no" checked="checked">No
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Applying for Financial Aid</label>
            <div class="col-sm-3">
                <label class="radio-inline">
                    <input type="radio" id="f_aid-options" name="financial_aid" value="yes">Yes
                </label>
                <label class="radio-inline">
                    <input type="radio" id="f_aid-options" name="financial_aid" value="no" checked="checked">No
                </label>
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary">Save</button>
                <a class="btn btn-warning" href="/registration/">Back</a>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}
