{% extends "registration/base.html" %}

{% block htitle %}ICISTS-KAIST 2015 Application Form{% endblock %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/session.css">
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
{% endblock %}

{% block content %}
<h1>ICISTS-KAIST 2015 Application</h1>
<p>Application has not been submitted yet. </p>
<p>You can either write a new application, or edit the draft.</p>
<form class="form-horizontal" action="/registration/form/" method="post" enctype="multipart/form-data">
    <fieldset>
        {% csrf_token %}
        <div class="form-group">
            <div class="col-sm-12">
                <a class="btn btn-warning" href="/registration/form">Write/Edit</a>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}
