{% extends "registration/base.html" %}

{% block htitle %}ICISTS-KAIST 2015 Application Form{% endblock %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/session.css">
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
<script>
    //var screening = document.getElementById("myVar").value;
    var screening = "{{screening}}";
    $(document).ready(function() {
        if (screening == 'P')
        {
            $('.screening_result').append("<h1>pending</h1>");
            console.log("Pending!!!");
        }
        else if (screening == 'A')
        {
            $('.screening_result').append("<h1>Accepted!</h1>");
            console.log("Accepted!!!");
        }
        else if (screening == 'D')
        {
            $('.screening_result').append("<h1>Dismissed!</h1>");
            console.log("Dismissed!!!");
        }
    });
</script>
{% endblock %}

{% block content %}
<h1>ICISTS-KAIST 2015 Application</h1>
<div class="screening_result">
    <p>
    Your application has been submitted for review.<br />
    For more information about ICISTS-KAIST, visit <a href="http://www.icists.org">www.icists.org</a>
    </p>
</div>
<div class="form-group">
    <div class="col-sm-12">
        <a class="btn btn-primary" href="/registration/application">View Application</a>
    </div>
</div>
{% endblock %}
