{% extends "registration/base.html" %}

{% block htitle %}ICISTS-KAIST 2015 Application Form{% endblock %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/session.css">
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
{% endblock %}

{% block content %}
<h1>ICISTS-KAIST 2015 Application</h1>
<div class="screening_result">
    <p>
    Your application has been submitted for review.<br />
    For more information about ICISTS-KAIST, please visit <a href="http://www.icists.org">www.icists.org</a>
    </p>
    {% if embargo %}
    <h1>Your application has been submitted for review.</h1>
    <h2>We will announce the result in this page in a few days.</h2>
    {% elif screening == 'P' %}
    <h1>Your application has been submitted for review.</h1>
    <h2>We will announce the result in this page in a few days.</h2>
    {% elif screening == 'A' %}
    <h1>Contratulations!</h1>
    <h1>You have been admitted to ICISTS-KAIST 2015.</h1>
    <h2>Please fill in additional information for participation.</h2>
    {% elif screening == 'D' %}
    <h1>Your application has been carefully reviewed by the organising committee.</h1>
    <h2>We're sorry to tell you that we cannot offer you the invitation to ICISTS-KAIST 2015.</h2>
    <h2>Please apply again for regular application.</h2>
    {% endif %}
</div>
<div class="form-group">
    <br />
    {% if embargo %}
    <a class="btn btn-primary" href="/registration/application/" id='view_button'>View Application</a>
    {% elif screening == 'A' %}
    <a class="btn btn-primary" href="/registration/participation/" id='participation_button'>Proceed for Participation</a>
    {% elif screening == 'D' %}
    <a class="btn btn-primary" href="/registration/cancel/" id='regular_button'>Regular Application</a>
    {% endif %}
</div>
{% endblock %}
