{% extends "registration/base.html" %}

{% block htitle %}ICISTS-KAIST 2015 Application Form{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<h1>ICISTS-KAIST 2015 Application</h1>
<p>
Your application has been submitted for review.<br />
For more information about ICISTS-KAIST, visit <a href="http://www.icists.org">www.icists.org</a>
</p>
<div class="form-group">
    <div class="col-sm-12">
        <a class="btn btn-primary" href="/registration/form">View Application</a>
    </div>
</div>
{% endblock %}
