div#section-header {
        margin-bottom: 60px;
}
div#application-information {
        margin-bottom: 60px;
}
div#additional-information {
        margin-bottom: 60px;
}
div#payment-information {
        margin-bottom: 60px;
}
