{% extends "registration/base.html" %}

{% block htitle %}ICISTS 2016 Application Form{% endblock %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/session.css">
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
{% endblock %}
{% block content %}
<h1>ICISTS 2016 Application</h1>
<!--
<p> Sorry. The early application has closed. The regular application starts on June 1st.</p>
-->
<p> The application process has closed. Please come back in a few days for the next application process to start. </p>
{% endblock %}
