{% extends "registration/base.html" %}

{% block htitle %}ICISTS {{ current_year }} Application Form{% endblock %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/session.css">
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
{% endblock %}

{% block content %}
<h1>ICISTS {{ current_year }} Application</h1>
<div class="screening_result">
  <p>
  Your application has been <b style="color:limegreen">submitted</b> for review.<br />
  For more information about ICISTS {{ current_year }}, please visit <a href="http://www.icists.org">www.icists.org</a>
  </p>
  {% if embargo %}
  <h1>Your application has been submitted for review.</h1>
  <h2>We will announce the result in this page in a few days.</h2>
  {% elif screening == 'P' %}
  <h1>Your application has been submitted for review.</h1>
  <h2>We will announce the result in this page in a few days.</h2>
  {% elif screening == 'A' %}
  <h1>Congratulations!</h1>
  <h1>You have been admitted to ICISTS {{ current_year }}.</h1>
  <h2>Please fill in additional information for participation.</h2>
  {% elif screening == 'D' %}
  <h1>Your application has been carefully reviewed by the organising committee.</h1>
  <h2>We're sorry to tell you that we cannot offer you the invitation to ICISTS {{ current_year }}.</h2>
  <h2>Please apply again for regular application.</h2>
  {% endif %}
</div>
<div class="form-group">
  <br />
  {% if embargo %}
  <a class="btn btn-primary" href="/registration/application/" id='view_button'>View Application</a>
  {% elif screening == 'A' %}
  <a class="btn btn-primary" href="/registration/participation/" id='participation_button'>Proceed for Participation</a>
  {% elif screening == 'D' %}
  <a class="btn btn-primary" href="/registration/cancel/" id='regular_button'>Regular Application</a>
  {% endif %}
</div>
{% if participant_exists %}
<div class="payment_status">
  {% if payment_status == 'N' %}
  <h3>The payment has not been made yet. </h3>
  {% elif payment_status == 'P' %}
  <h1> Payment Confirmed </h1>
  <h2> We will get back to you with more information about the conference shortly. </h2>
  {% elif payment_status == 'L' %}
  <h2> Your payment does not correspond to the required sum. </h2>
  <h2> We will contact you via email shortly. </h2>
  {% elif payment_status == 'O' %}
  <h2> Your payment does not correspond to the required sum. </h2>
  <h2> We will contact you via email shortly. </h2>
  {% endif %}	
</div>
{% endif %}	
{% if participant.payment_option == 'B' %}
<div id="account" class="col-sm-offset-2 col-sm-8 text-left" style="display: block;">
  <div class="form-group">
    <label class="col-sm-4 control-label" style="padding-top:7px">Bank Name</label>
    <p class="form-control-static">{{ payment_info.bank_name }}</p>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label" style="padding-top:7px">Branch Name</label>
    <p class="form-control-static">{{ payment_info.bank_branch }}</p>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label" style="padding-top:7px">Account Number</label>
    <p class="form-control-static">{{ payment_info.account_number }}</p>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label" style="padding-top:7px">Name of Recipient</label>
    <p class="form-control-static">{{ payment_info.recipient_name }}</p>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label" style="padding-top:7px">Swift Code</label>
    <p class="form-control-static">{{ payment_info.swift_code }}</p>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label" style="padding-top:7px">Remitter Name</label>
    <p class="form-control-static">{{ participant.remitter_name }}</p>
  </div>
</div>
{% endif %}	







{% endblock %}
