body {
    font-family:'맑은 고딕', 'Malgun Gothic', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
    width:860px;
    text-align:center;
}

p {
    font-size:12px;
    margin-bottom:5px;
}



#essay_questions {
    font-size:12px;
    text-align:left;
}

