<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
	{% load tags %}
	{% define "2017" as current_year %}
	<title>{% block htitle %}ICISTS {{ current_year }} Application Form{% endblock %}</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	{% block gheader %} {% endblock %}
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">ICISTS {{ current_year }}</a>
			</div>
			<a class="navbar-brand" href="http://www.icists.org/"><img src="/media/logo_blue.png" height="100%"/></a>

			<div class="collapse navbar-collapse" id="navbar">
				<ul class="nav navbar-nav">
					{% if user.is_authenticated %}
					<li><a href="/registration/">Registration</a></li>
					{% endif %}
					{% if user.is_staff %}
					<li><a href="/statistics/">Statistics</a></li>
					{% endif %}
				</ul>
				<ul class="nav navbar-nav navbar-right">
					{% if user.is_authenticated %}
					<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ user.first_name }} <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="/session/profile/">View/Edit Profile</a></li>
							<li><a href="/session/changepw/">Change Password</a></li>
						</ul>
					</li>
					<li><a href="/session/logout/">Logout</a></li>
					{% else %}
					<li><a href="/session/signup/">Sign Up</a></li>
					<li><a href="/session/login/">Login</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>
    <section class="container">
        {% block content %}
        {% endblock %}
    </section>
</body>
</html>
